body{
    background: white;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    min-height: 100%;
}
#root{
    min-height: 100%;
}
.heading{
    position: relative;
    background-color: blue;
    min-height: 100px;
}
.heading h1{
    position:absolute;
    margin: 20px 0 0 10px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: inline;
    left: 20px;
    top: 10px;
}

/* downloading Button */

.downloadButton{
    position: absolute;
    background-color: purple;
    cursor: pointer;
    color: white;
    z-index: 1;
    font-size: 30px;
    font-weight: 700;
    min-width: 150px;
    top: 35px;
    left: 800px;
    border:1px solid blue;
    border-radius: 20px;
} 
.heading h2{
    display: inline;
    color: white;
    font-size: 40px;
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0;
    padding: 10px;
    border-radius: 15px;
    background-color: cornflowerblue;
}

div.riderInfoDiv{
    /* border: 1px solid black; */
    margin: 25px;
    padding: 10px;
    box-shadow: 3px 3px 6px 5px #ccc;
    border-radius: 10px;
    page-break-inside: avoid;
}
.chartContainer{
    overflow: hidden;
    /* height: 0;
    transition: height 0.4s ease-out; */
}
/* div.riderInfoDiv:hover .chartContainer{
    height: 350px;
} */
.chartDisplay{
    display:inline-block;
    height:250px;
    width:500px;
    margin-left:70px;
    margin-top:40px;
    margin-bottom:0px;
    border:5px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 5px;
}
div.riderInfoDiv span{
    position: relative;
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 20px 0 20px;
    font-size: 25px;
    font-weight: 900;
}
div.riderInfoDiv span.subscript{
    position: absolute;
    color: blue;
    display: inline-block;
    width: 50px;
    padding: 0;
    /* border: 1px solid black; */
    margin: 0;
    left: 160px;
    bottom: 20px;
    border: none;
    font-size: 20px;
}
div.riderInfoDiv span.name_attribute{
    border: none;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    font-weight: 900;
}
div.riderInfoDiv span.index_attribute{
    border: none;
    margin: 0;
    padding: 15px;
    width: 35px;
    border-radius: 100%;
    text-align: center;
    left: 10px;
    background-color: #d9d9d9;
    color: white;
    font-weight: 900;
    font-size: 35px;
}

div.riderInfoHeading{
    width: 80vw;
    position: relative;
    left : 16%;
    border: 2px solid #a2a3a9;
    margin: 25px;
    background: #d9d9d9;
    color: white;
    border-radius: 10px;
    min-height: 60px;
}

div.current_date{
    position: absolute;
    text-align: center;
    left: 70px;
    background-color: darkslategrey;
    width: 9vw;
    font-size: 25px;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    max-height: 100px;
}

button.sort_buttons{
    font-size: 25px;
    font-weight: 700;
    color: white;
    display: inline-block;
    width: 15vw;
    text-align: center;
    padding: 25px;
    background: transparent;
    cursor: pointer;
    border: none;
    border-right: 2px solid white;
    transition: all ease 1s;
    min-height: 65px;
}
button.leftmost_button{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button.sort_buttons:hover{
    background: #aaa;
}
button.sort_buttons:focus{
    background-color: aliceblue;
    color: #838383;
    border: none;
}

button.ascending::after{
    content: '⬆';
}
button.descending::after{
    content: '⬇';
}



footer{
    clear: both;
    position: relative;
    bottom: 0px;
    min-width: 100%;
    height: 2.5rem;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background-color: blue;
    margin-bottom: -500px;
}
footer p{
    color: white;
}    